@import "./variable.css";

/* ================== */

/* ================== */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.nav__liste {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  font-size: var(--font-size-small);
  text-decoration: none;

  list-style: none;
}
