:root {
  --light-blue: #0066cc;
  --mid-blue: #1a2e6b;
  --dark-blue: #121236;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-title: 3rem;
  --font-size-normal: 1rem;
}
